.bw-edit-toolbar {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 35px;
  box-shadow: 0 10px 38px rgba(0,0,0,0.30), 0 7px 12px rgba(0,0,0,0.22);
  padding: 10px;
  .container {
    position: relative;
  }
  .fab {
    border-radius: 100px;
    background-color: #e4266b;
    //transform: translateY(-50%);
    padding: 7px 15px;
    color: white;
    border: none;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    &.fab--blue {
      background-color: #21364E;
      &:hover {
        background-color: darken(#21364E, 15);
      }
    }
    &:focus {
      outline: none;
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.25);
      background-color: darken(#e4266b, 15);
    }
  }
}

img + [type=file].bw-file {
  transform: translate(10px, calc(-100% - 10px));
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
  outline: none;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.25);
  }
}

img + [type=file].bw-file::-webkit-file-upload-button {
  visibility: hidden;
}
img + [type=file].bw-file::before {
  cursor: pointer;
  content: 'Upload';
  border-radius: 100px;
  background: #e4266b;
  outline: none;
  padding: 7px 15px;
  color: white;
  border: none;
  font-size: 13px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
img + [type=file].bw-file:hover::before {
  background-color: darken(#e4266b, 15);
}
img + [type=file].bw-file:active::before {
  background-color: darken(#e4266b, 15);
}

.ck.ck-editor__editable_inline {
  padding: 3px!important;
}

.ck.ck-editor__editable_inline>:last-child {
  margin: unset!important;
}