// less better devices (desktops, less than 1366px)
@media (max-width: 1366px) {
  .home-pagina {
    .page-content {
      height: 580px;

      .page-content-wrapper-right {
        .col-xl-6 {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .help-button {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }
  .hulp-aanbieden-pagina, .hulp-aanvragen-pagina {

    .form-section {

      form {
        .input-group {
          input[type=checkbox] {

            min-width: 40px;
            min-height: 20px;
          }
        }
      }
    }
  }
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .navbar-nav {
    .nav-item{

      padding: 0px 10px 0px 10px;

      .nav-link {
        font-size: 18px;
      }
    }
  }


  .home-pagina {
    .page-content {
      height: 100%;
      padding-bottom: 25px;
      .help-button {

        width: 100%;
        margin-bottom: 15px;
      }
      .page-content-wrapper-right {

        padding: 25px 0px 10px 30px;
      }
      .page-content-wrapper-left {

        .img-wrapper{
          height: 700px;
          margin-top: 35px;
          margin-left: 0px;
        }
      }
    }
  }
  .hulp-aanvragen-pagina, .hulp-aanbieden-pagina {

    .content-section {

      .text {

        ul {
          margin-left: 15px;
        }
      }
    }
    .form-section {

      form {
        .input-group {
          input[type=checkbox] {

            min-width: 40px;
            min-height: 20px;
          }
        }
      }
    }

  }
  footer.footer {
    .container-fluid {
      width: 100%;
    }
    .regular-footer {
      h3 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container-fluid {
    width: 100%;
  }
  .footer {
    height: inherit !important;
  }
  footer.footer {

    padding-bottom: 25px;
  }

  .hulp-cta {

    margin-bottom: 150px;
  }


  .home-pagina {
    .page-content {
      height: 100%;
      padding-bottom: 25px;


      .page-content-wrapper-right {
        padding: 25px 0px 10px 0px;

        .col-md-6 {

          flex: 0 0 100%;
          max-width: 100%;

          .help-button {
            width: 100%;
            margin-bottom: 10px;
          }
        }

      }

      .page-content-wrapper-left {
        .img-wrapper {
          height: 400px;
          margin-top: 25px;
          margin-left: 0px;
        }
      }
    }

    .faq-section {
      margin-bottom: 0px;

      .img-wrapper {

        margin-top: 75px;
      }
    }
  }
  .hulp-aanbieden-pagina, .hulp-aanvragen-pagina {

    .hulp-cta {

      margin-bottom: 90px;
    }

    .content-section {
      margin-bottom: 75px;

      .text {
        ul {
          li {

            margin-left: 13px;
          }
        }
      }
    }

    .form-section {
      h2 {

        font-size: 4rem;
      }

      .container {
        width: auto;
      }

      form {
        .input-group {
          input[type=checkbox] {

            min-width: 40px;
            min-height: 20px;
          }
        }
      }
    }
  }
  .partners {

    padding-top: 120px;

    .container-fluid {
      .row {
        .col-md-20 {
          width: 50%;

          //&:nth-child(4) {
          //  display: none;
          //}
        }

        //&:nth-child(4) {
        //  display: none;
        //}
      }
    }
  }

}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .navbar-brand {
    .navbar-brand-logo {

      max-height: 80px;
    }
  }

  .hero-banner {

    min-height: 540px;

    h1.title {
      font-size: 46px;
      margin-top: 30px;
    }
  }
  .smaller-hero-banner {
    margin-bottom: 0px;

    min-height: 400px;

    h1.title {
      font-size: 46px;
      margin-top: 30px;
    }
  }

  .hulp-cta {
    margin-bottom: 150px;

    .cta {
      .white-line {
        display: none;
        margin-top: 0;
      }
    }

    .help-button {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .home-pagina {
    .page-content {
      margin-bottom: 70px;


      height: 850px;

      .page-content-wrapper-left {

        .img-wrapper {
          margin-left: 0px !important;
          height: 190px !important;
        }
      }

      .page-content-wrapper-right {

        padding: 25px 0px 10px 0px;

        h1 {

          font-size: 2rem;
        }
      }

      .help-button {
        width: 100%;
        margin-bottom: 15px;
      }

    }

    .faq-section {
      .faqs {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;

        .item {
          .question {

            font-size: 16px;
            width: 98%;
          }

          .answer {
            font-size: 1rem !important;
          }

          svg {
            margin-top: -43pxpx;
            height: 25px;
            width: 25px;

          }
        }

      }

      .help-button {
        width: 100%;
        margin-bottom: 15px;

        &:hover:after {
          transform: translate(50%, -50%) scale(10);

        }
      }

      .img-wrapper {

        margin-top: 60px;
      }
    }


  }

  .partners {

    padding-top: 120px;

    .container-fluid {
      .row {
        .col-md-20 {
          width: 100%;
        }

        //&:nth-child(4) {
        //  display: none;
        //}
      }
    }
  }
  .hulp-aanvragen-pagina, .hulp-aanbieden-pagina {
    .hulp-cta {
      margin-bottom: 80px;

      .offset-4 {
        margin-left: 0;
      }

      .cta {
        .white-line {
          display: none;
          margin-top: 0;
        }
      }

      .help-button {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .content-section {
      margin-bottom: 75px;

      .title {
        h2 {
          font-size: 2rem;
        }
      }

      .text {
        ul {

          margin-left: 15px;
        }
      }
    }

    .form-section {
      .container {
        width: auto;
      }

      h2 {
        font-size: 3rem;
      }

      input[type=text], input[type=tel] {

        padding: 10px 5px 10px 15px;
      }

      form {
        .input-group {
          input[type=checkbox] {

            min-width: 40px;
            min-height: 20px;
          }
        }
      }
    }

    .partners {

      padding-top: 80px;
    }

  }

  .veel-gestelde-vragen-pagina {
    .content-section {

      //margin-bottom: 300px;
    }

    .faq-section {
      //margin-bottom: 300px;

      .title {
        text-align: center;
      }

      .faqs {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;

        .item {
          .question {
            padding-right: 30px;
            font-size: 16px;
            width: 98%;
          }

          &.active {
            .answer {

              height: 150px;
            }
          }
        }
      }
    }
  }


  footer.footer {
    height: inherit;
    margin-bottom: 140px;

    .regular-footer {
      h3 {
        margin-bottom: 10px;
      }
    }
  }
  .social-footer {
    height: 130px;
    bottom: 0px;
    position: absolute;
    width: 100%;

    .col-md-6:nth-child(1) {

      text-align: center;

      a {
        img {

          height: 45px;
          width: 45px;
        }
      }
    }

    .payoff {
      text-align: center;
      margin-top: 18px;
    }
  }

}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .hero-banner {
    min-height: 500px;

    h1.title {
      font-size: 36px;
    }
  }
  .partners {
    .title {
      font-size: 36px;
    }
  }
  .social-footer {
    .payoff {

      text-align: center;
    }
  }
  .hulp-cta {
    margin-bottom: 120px;

    .cta {
      p {
        font-size: 18px;
      }

      .hashtag {
        margin-top: 25px;
      }
    }
  }
  .home-pagina {
    .page-content {

      height: 100%;
      padding-bottom: 25px;

    }
  }
  .hulp-aanvragen-pagina, .hulp-aanbieden-pagina {
    .hulp-cta {
      .cta {
        padding: 45px 10px 45px 10px;

        p {
          font-size: 1rem;
        }
      }
    }

    .content-section {

      margin-bottom: 75px;
    }
  }

  .veel-gestelde-vragen-pagina {
    .faq-section {
      .faqs {
        .item {
          &.active {
            .answer {
              //height: 175px;
              font-size: 1rem;

            }
          }
        }
      }
    }
  }
  .content-page {
    margin-top: 50px;
  }

}